<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
   .box th,td{
           border: 1px solid #333;
        }
    </style>
</head>

<body>
    <div id="app">
        筛选：<input type="text" v-model="filtertext" >
        <br>
        姓名：<input type="text" v-model="username" >
        <br>
        ID：<input type="text" v-model="userid"  @keyup.enter="add">
        <button @click="add">添加学生</button>
        <table class="box">
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>入学时间</th>
                <th>操作</th>
            </tr>
            <tr v-for="(item,index) in filterArr">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.date}}</td>
                <td><a @click='del(index)' href="javascript:;">删除</a></td>
            </tr>
        </table>
    </div>
</body>
<script src="./vue.js"></script>
<script>
    var app = new Vue({
        el: "#app",
            computed:{
                filterArr(){
                    if(!this.filtertext){
                        return this.arr
                    }else{
                        return this.arr.filter(item=>
                        (item.name.indexOf(this.filtertext) != -1) 
                           )
                    }
                }
             },
            
        data: {
            filtertext:"",
            username:"",
            userid:"",
            arr: [
                {
                    id: 0,
                    name:" hh",
                    date:new Date()
                },
                {
                    id: 1,
                    name:" yy",
                    date:new Date()
                },
                {
                    id: 2,
                    name:" ss",
                    date:new Date()
                }
            ]
        },
        methods: {
            del(index){
                this.arr.splice(index,1)
            },
            add(){
                this.arr.push({
                    name:this.username,
                    id:this.userid,
                    date:new Date()
                })
                this.username=""
                this.userid=""
            }
        }
    })
</script>

</html>